body {    
  padding-top: 60px;
}

.nav-bar {
    height: 57px;
    border: 0;
    box-shadow: 0px 4px 7px #888;
}

.nav-bar h1.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 20px;
    color: white;
}

.content {
    padding: 10px;
    height: calc(100vh - 70px);
    width: calc(100vw - 20px);
}

#login img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}